body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input,
select {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#payment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-form {
    display: none;
}